<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body style="margin: 0; padding: 0; background-color: #f9f9f9;">
<th:block th:replace="~{fragments/header :: header}"/>
<div style="margin: 136px 0;" >
    <div th:if="${param.error}" style="color: red; margin-bottom: 10px;">
        Invalid email or password!
    </div>
    <div style="font-family: Arial, sans-serif; display: flex; justify-content: center; ">
        <form th:action="@{/}" method="post"
              style="width: 400px; padding: 20px; border: 1px solid #ccc; border-radius: 8px; background-color: #f9f9f9; box-sizing: border-box;">

            <label for="email" style="margin-bottom: 5px;">Email</label>
            <input type="email" id="email" name="email" required
                   style="width: 100%; padding: 10px; margin-bottom: 12px; box-sizing: border-box;" />

            <label for="password" style="margin-bottom: 5px;">Password</label>
            <input type="password" id="password" name="password" required
                   style="width: 100%; padding: 10px; margin-bottom: 12px; box-sizing: border-box;" />

            <button type="submit"
                    style="width: 100%; padding: 10px; background-color: blue; color: white; border: none; border-radius: 4px;">
                Login
            </button>
        </form>
    </div>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>